.modal_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999999999;
}

.modal_overlay_bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(36, 46, 34, 0.3);
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  z-index: -1;
}

.modal_content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: fit-content;
  position: relative;
  z-index: 1000;
}

.modal_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close_button {
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.modal_body {
  margin-top: 10px;
}
