:root {
  --background-color: #9bd28f;
  --color: #212121;

  --primary-color: #42623b;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  overflow-x: hidden;
}

body {
  color: var(--color);
  background: var(--background-color);
  font-family: var(--font-manrope);

  min-width: 320px;
  position: relative;
  line-height: 1.5;
  overflow-x: hidden;
  font-size: 18px;
  font-feature-settings: "pnum" on, "lnum" on;

  position: relative;
}

a {
  color: inherit;
  text-decoration: none;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
  display: flex;
  flex-wrap: wrap;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}

.col {
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 767px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1230px) {
  .container {
    width: 1200px;
  }
}

@media (min-width: 2000px) {
  .container-fluid {
    max-width: 1700px;
    margin: 0 auto;
  }
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
