:root {
  --background-color: #9bd28f;
  --color: #212121;
  --red: #ff1111;
  --primary-color: #42623b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: border-box;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul,
li {
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  max-width: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block;
}

img {
  height: auto;
  max-width: 100%;
  border: 0;
  display: block;
}

a {
  display: inline-block;
  transition: all 0.3s;
  text-decoration: none;
  color: #42623b;
}

a:active,
a:focus,
.slick-slide,
a,
button,
.button,
input,
textarea,
select {
  outline: none;
}

strong {
  font-weight: bold;
}

form label {
  display: block;
}

form label span {
  display: block;
}

html {
  overflow-x: hidden;
}

body {
  color: var(--color);
  background: var(--background-color);
  font-family: var(--font-manrope);
  background: linear-gradient(to bottom, #9bd28f, #55a146);
  height: 100%;
  min-width: 320px;
  position: relative;
  line-height: 1.5;
  overflow-x: hidden;
  font-size: 18px;
  font-feature-settings: "pnum" on, "lnum" on;

  position: relative;
}
body::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url("/img/bg_pattern.png") repeat;
}
a {
  color: inherit;
  text-decoration: none;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
  display: flex;
  flex-wrap: wrap;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}

.col {
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 767px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1230px) {
  .container {
    width: 1200px;
  }
}

@media (min-width: 2000px) {
  .container-fluid {
    max-width: 1700px;
    margin: 0 auto;
  }
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
