.main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 10px 15px;
	padding-top: 150px;
	padding-bottom: 120px;
	min-height: calc(100vh - 293px) !important;
  }
  .wrap {
	  width: 100%;
	  
	  max-width: 584px;
	  font-size: 14px;
	  font-weight: 500;
	  padding: 16px 16px 24px 16px;
	  border-radius: 20px;
	  background: #fff;
	  position: relative;
  }
  .title {
	  font-size: 28px;
	  font-weight: 600;
	  line-height: 1.14;
	  color: var(--primary-color);
	  margin-bottom: 12px;
	  margin-bottom: 15px;
  }
  .ttl {
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 15px;
  }
  .block {
	  margin-bottom: 35px;
  }
  .block:last-child {
	  margin-bottom: 0;
  }
  .block p {
	  margin-bottom: 15px;
  }
  .block p:last-child {
	  margin-bottom: 0;
  }
  
  @media (max-width: 767px) {
	  .block {
		  margin-bottom: 12px;
	  }
	  .block:last-child {
		  margin-bottom: 0;
	  }
  }
  