.description {
	position: relative;
	width: 100%;
	margin: 120px 0 50px;
}
.img_lay {
	position: relative;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}
.img_lay img {
	width: 100%;
} 
.description_container {
	display: flex;
	position: absolute !important;
	left: 50%;
	top: 0;
	transform: translateX(-50%);
	gap: 0 55px;
}
.description_container {
	max-width: 1100px;
	margin: auto;
}
.wrap {
	max-width: 200px;
}
.img img {
	margin: auto;
}
.item {
	flex-grow: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	width: 328px;
	height: 328px;
	background: rgba(254, 241, 200, 1);
	border-radius: 50%;
	outline: 16px solid rgba(255, 255, 255, 0.3);
	color: rgba(82, 44, 41, 1);
}
.pink {
	background: #FFE8E7;
}
.green {
	background: #E7F5E2;
}
.ttl {
	font-size: 26px;
	text-transform: uppercase;
}
.text {
	font-size: 18px;
	font-weight: 500;
	line-height: 1.36;
}

@media (max-width: 1230px) {
	.item {
		width: calc(100vw / 3 - 75px);
		min-width: calc(100vw / 3 - 75px);
		height: calc(100vw / 3 - 75px);
	}
	.img img {
		max-width: 40%;
	}
}
@media (max-width: 992px) {
	.item {
		width: 250px;
		min-width: 250px;
		height: 250px;
		padding: 15px;
		flex-grow: 0;
	}
	.description {
		height: 600px;
	}
	.description_container {
		gap:  40px;
		flex-wrap: wrap;
		justify-content: center;
	}
	.description {
		margin-top: 80px;
	}
}

@media (max-width: 580px) {
	.description {
		height: auto;
	}
}
