.buttons {
	width: 100%;
	position: relative;
	display: flex;
	justify-content: center;
	gap: 0 15px;
	margin: 80px 0 75px;
}

.button {
	background: rgba(255, 255, 255, 0.8);
	outline: 3px solid rgba(254, 241, 200, 0.5);
	padding: 15px  44px;
	font-size: 16px;
	color: rgba(105, 51, 43, 1);
	font-weight: 500;
	font-family: var(--font-merriweather);
	border-radius: 30px;
	min-width: 218px;
	text-align: center;
}
.button.pink  {
	outline:  3px solid #FFCCC980;
}
.button.yellow  {
	outline:  3px solid #FEF1C880;
	color: #8A5617;
}
.button.green  {
	outline:  3px solid #CEEAC880;
}
.button.brown  {
	outline: 3px solid rgba(105, 51, 43, 0.5);
	color: #69332B;
}
.button2 {
	background: #913B0F;
	outline: 3px solid rgba(254, 241, 200, 0.5);
	padding: 15px  44px;
	font-size: 16px;
	color: #fff;
	font-weight: 500;
	font-family: var(--font-merriweather);
	border-radius: 30px;
	min-width: 218px;
	text-align: center;
}
.pink2 {
	background: #9C2018;
	outline:  3px solid #FFCCC980;
}
.green2  {
	background: #42623B;
	outline:  3px solid #CEEAC880;
}
.yellow2 {
	background: #A94E10;
	outline: 3px solid #FEF1C880;
}
.brown2 {
	background: #69332B;
	outline: 3px solid rgba(105, 51, 43, 0.5);
}

@media (max-width: 580px) {
	.button, .button2 {
		padding: 15px;
		min-width: 0;
		width: 100%;
		max-width: 320px;
		text-align: center;
	}
	.buttons {
		flex-direction: column;
		align-items: center;
		gap: 16px;
		padding: 0 16px;
		margin: 80px 0 0;
	}
}
