.container {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  margin-top: 136px;
}

.left_ear {
  position: absolute;
  top: -80px;
  left: 20px;
  z-index: -1;
}

.right_ear {
  position: absolute;
  top: -80px;
  right: 20px;
  z-index: -1;
}

.img_wrapper {
  position: absolute;
  top: -136px;
  width: 100%;
  min-height: 272px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  overflow: hidden;
}
.img_wrapper:hover {
  cursor: pointer;
}

.images {
  object-fit: cover;
  object-position: center;
}
.image {
  max-width: 100%;
  width: auto !important;
  left: calc(50% - 136px) !important;
}
.content {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 128px 16px 16px 16px;
  background: #fff;
  height: 100%;
  min-height: 261px;
  border-radius: 20px;
  /* border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px; */
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0 0;
}

.title {
  color: var(--primary-color);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  font-family: var(--font-merriweather);
  text-align: center;
}

.icon {
  margin-bottom: -3px;
}

.properties_list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 8px;
  row-gap: 8px;

  justify-content: center;
  list-style: none;
}

.property {
  display: flex;
  align-items: center;
  gap: 5px;
  border: 1px solid #9bd28f;
  border-radius: 999px;
  padding: 6px 12px;
  color: var(--text-color);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.22;
}

.price_row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

/* .property:first-child {
  font-weight: 600;
  font-size: 20px;
  width: 100%;
  justify-content: center;
  border: none;
}
.property:first-child .cbd {
  font-weight: 400;
} */

.cbd_property {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-size: 16px;
  padding: 6px 12px;
  border-radius: 999px;
  background-color: #9bd28f33;
  border-color: transparent;
}

.cbd {
  font-weight: 700;
}

.description {
  color: #21212199;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
  margin: 0px auto;
  margin-bottom: 4px;
  hyphens: auto;
}

.divider {
  width: 100%;
  height: 1px;
  background: #d4d4d4;
  margin: 4px 0;
  margin-top: auto;
}

.decorate_icon {
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
}
.not_present {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(152, 151, 154, 1);
}

@media screen and (min-width: 768px) {
  .container {
    width: 328px;
  }
}

@media (max-width: 767px) {
  .divider {
    display: none;
  }

  .price_row {
    order: 4;
  }
  .header {
    order: 2;
  }
  .properties_list {
    order: 5;
  }
  .description {
    order: 3;
  }
  .img_wrapper {
    min-height: 120px;
    top: -60px;
    max-width: 150px;
  }
  .img_wrapper .image {
    left: 24px !important;
  }
  .content {
    padding-top: 16px;
  }
  .container {
    margin-top: 100px;
  }
  .not_present {
    justify-content: flex-end;
  }
  .not_present .p {
    max-width: 120px;
    text-align: center;
  }
}
