.container {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  margin-top: 136px;
}

.left_ear {
  position: absolute;
  top: -80px;
  left: 20px;
  z-index: -1;
}

.right_ear {
  position: absolute;
  top: -80px;
  right: 20px;
  z-index: -1;
}

.img_wrapper {
  position: absolute;
  top: -136px;
  width: 100%;
  min-height: 272px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  overflow: hidden;
}
.img_wrapper:hover {
  cursor: pointer;
}

.images {
  object-fit: cover;
  object-position: center;
}
.image {
  max-width: 100%;
  width: auto !important;
  left: calc(50% - 136px) !important;
}
.content {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 128px 16px 16px 16px;
  background: #fff;
  height: 100%;
  min-height: 261px;
  border-radius: 20px;
  /* border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px; */
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0 0;
}

.title {
  color: var(--primary-color);
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  font-family: var(--font-merriweather);
}

.icon {
  margin-bottom: -3px;
}

.properties_list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 8px;
  row-gap: 8px;

  justify-content: center;
  list-style: none;
}

.property {
  display: flex;
  align-items: center;
  gap: 5px;
	border: 1px solid #9BD28F;
	border-radius: 999px;
	padding: 6px 12px;
  color: var(--text-color);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.22;
}

.property:first-child {
  font-weight: 600;
  font-size: 20px;
  width: 100%;
  justify-content: center;
  border: none;
}
.property:first-child .cbd {
	font-weight: 400;
}

.description {
  color: var(--text-color);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.22;
text-align: center;
  margin: 4px auto;
}

.divider {
  width: 100%;
  height: 1px;
  background: #d4d4d4;
  margin: 4px 0;
  margin-top: auto;
}

.decorate_icon {
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
}

@media screen and (min-width: 768px) {
  .container {
    width: 328px;
  }
}
@media (max-width: 767px) {
	.divider {
		display: none;
	}
	.header {
		order: 2;
	}
	.properties_list {
		order: 3;
	}
	.description {
		order: 4;
	}
	.img_wrapper {
		min-height: 120px;
		top: -60px;
		max-width: 150px;
	}
	.img_wrapper .image {
		left: 24px !important;
	}
	.content {
		padding-top: 16px;
	}
	.container {
		margin-top: 100px;
	}
}
