.texts {
	color: var(--primary-color);
	font-weight: 500;
}
.round {
	display: block;
	width: 20px;
	height: 20px;
	border: 2px solid rgba(219, 219, 219, 1);
	border-radius: 50%;
}
.row_line {
	display: flex;
	gap: 0  8px;
	margin: 4px 0;
	align-items: center;
}
.green {
	color: var(--primary-color);
}
.red {
	color: var(--red);
}
.black {
	color: rgba(0, 0, 0, 1);
}
