.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: calc(100vh - 38px - 38px);
  padding: 10px 30px;

  padding-top: 90px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
}

.item {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.wrapper_wrap, .wrapper_wrap_tal {
    margin-bottom: 20px;
    padding: 15px 15px 20px;
    background: #fff;
    border-radius: 20px;
	text-align: center;
}
.wrapper_wrap_tal {
	text-align: left;
}
.wrapper_wrap_tal .h2 {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    color: #42623B;
    font-size: 24px;
    font-family: "Merriweather";
}
.pencil {
	min-width: 36px;
    cursor: pointer;
    height: 36px;
    border-radius: 50%;
    border: 1px solid #CBCBCB;
    display: flex;
    align-items: center;
    justify-content: center;
}
.wrapper .wrapper_ttl {
    font-size: 20px;
}
.wrapper .wrapper_big {
    font-size: 40px;
    color: #42623B;
}
.profile .profile_details-one {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: #42623B;
    border-top: 1px solid #D4D4D4;
    padding-top: 10px;
}
.profile_detailsOne {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: #42623B;
    border-top: 1px solid #D4D4D4;
    padding-top: 10px;
}
.arr {
	position: relative;
	top: 3px;
	margin-left: 5px;
	cursor: pointer;
} 

