.container {
  display: flex;
  width: 40px;
  min-width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #42623b;

  border-radius: 99px;
  background: #9bd28f;
  border: 1px solid #9bd28f;
}

.container:hover {
  cursor: pointer;
  background: #79bd6b;
}
.container:active {
  background: #55a146;
}
.container:focus-visible {
  border: 4px solid #0d9ad6;
}

.disabled {
  border: 1px solid #dbdbdb;
  background: none;
  cursor: not-allowed;
  color: #dbdbdb;
}

.icon {
  color: inherit;
}
.decrement {
  background: transparent;
  border: 1px solid #cbcbcb;
}
.decrement:hover {
  background: #f5faf3;
  border: 1px solid #9bd28f;
}
.decrement:focus-visible {
  border: 4px solid #0d9ad6;
}
.decrement:active {
  background: #e7f5e3;
  border: 1px solid #9bd28f;
}
.decrement:disabled,
.button.disabled {
  background: #dbdbdb;
  color: #dbdbdb;
}
