.label {
  display: block;
  position: relative;
  margin: 15px 0;
  width: 100%;
}

.label:last-child {
  margin-bottom: 0;
}

.label.error input {
  border: 2px solid #ff1111 !important;
}

.label p.error {
  color: #f11;
  font-size: 16px;
  position: absolute;
  top: 100%;
  width: 200%;
  left: 0;
}

.label .label_ttl {
	font-weight: 500;
  margin-bottom: 5px;
  position: relative;
  display: flex;
  align-items: center;
}

.label .label_ttl .oldPass {
  position: absolute;
  right: 0;
  top: 2px;
  font-size: 16px;
  color: #42623b;
}

.label.radio {
  display: flex;
  padding-left: 30px;
  position: relative;
}

.label.radio .label_ttl {
  margin-bottom: 0;
}

.label.radio input {
  display: none;
}

.label.radio::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #d2d4df;
  left: 0;
  top: calc(50% - 10px);
  transition: all .3s;
}

.label.radio.active::before {
  border: 6px solid #42623b;
}

input[type="text"].input,
input[type="email"].input,
input[type="password"].input {
  height: 58px;
  border-radius: 20px;
  border: 1px solid transparent;
  font-size: 16px;
  display: block;
  width: 100%;
  text-indent: 16px;
  background: #d4d4d433;
  border: none;
}
input[type="text"].input:hover,
input[type="email"].input:hover,
input[type="password"].input:hover {
	border: 1px solid #D4D4D4;
} 
input[type="text"].input:active,
input[type="email"].input:active,
input[type="password"].input:active {
	border: 1px solid rgba(155, 210, 143, 1);
} 
input[type="text"].input:focus,
input[type="email"].input:focus,
input[type="password"].input:focus {
	border: 1px solid rgba(155, 210, 143, 1);
} 
input[type="text"].input:focus-visible,
input[type="email"].input:focus-visible,
input[type="password"].input:focus-visible {
	border: 1px solid rgba(155, 210, 143, 1);
} 
.pass {
  position: absolute;
  right: 19px;
  top: 15px;
  cursor: pointer;
}
.right_text {
  display: block;
  flex-grow: 1;
  text-align: right;
  color: var(--primary-color);
  font-size: 16px;
}
.red {
  color: #f11;
}
.forEyePosition {
  position: relative;
}
.isEmpty input {
	border: 1px solid red !important;
}
