.textareaBlock {
	position: relative;
	margin-top: 15px;
}
.textarea {
	width: 100%;
	height: 58px;
	border-radius: 20px;
	background: #D4D4D433;
	border: none;
	padding: 16px;
}
.ttl {
	margin-bottom: 5px;
}
