.main {
  display: flex;
  justify-content: center;
  padding: 10px 15px;
  min-height: calc(100vh - 38px - 38px);
	
  padding-top: 150px;
  padding-bottom: 120px;
}
.wrapper {
	background: #fff;
	padding: 15px;
	border-radius: 20px;
	position: relative;
	max-width: 960px;
}
.wrapper h1 {
	font-size: 28px;
	font-weight: 600;
	color: rgba(66, 98, 59, 1);
}
.wrapper h2 {
	font-size: 18px;
	margin: 15px 0;
	font-weight: 600;
}
.wrapper p	{
	margin: 15px 0;
	font-size: 14px;
}

.wrapper p:last-child {
	margin: 0;
}
.wrapper li {
	padding-left: 10px;
	font-size: 14px;
	position: relative;
}
.wrapper li::before , .wrapper .li::before{
	content: '';
	position: absolute;
	left: 0;
	top: 8px;
	width: 4px;
	height: 4px;
	border-radius: 50%;
	background: rgba(0, 0, 0, 1);
}
.block {
	margin-bottom: 15px;
}
