.productPage_select {
	display: flex;
	justify-content: center;
}
.productPage_selectButton {
	max-width: 150px;
	font-size: 16px;
	color: rgba(145, 59, 15, 1);
	padding: 5px 8px;
	background: rgba(254, 226, 138, 1);
	border: 4px solid rgba(254, 226, 138, 1);
	margin: 0 6px;
	display: flex;
	align-items: center;
	border-radius: 80px; 
	cursor: pointer;
	gap: 0 8px;
}
.productPage_selectButton.active {
	background: rgba(251, 212, 100, 1);
	border: 4px solid rgba(244, 148, 13, 1);
   }
.productPage_selectButton.red {
	background: rgba(255, 204, 201, 0.5);
	border: 4px solid rgba(255, 204, 201, 0.5);
}
.productPage_selectButton.redactive {
	background: rgba(254, 168, 163, 1);
	border: 4px solid rgba(243, 67, 56, 1);
}
.productPage_selectButton.green {
	background: rgba(206, 234, 200, 1);
	border: 4px solid rgba(206, 234, 200, 1);
}
.productPage_selectButton.greenactive {
	background: rgba(156, 209, 143, 1);
	border: 4px solid rgba(85, 161, 70, 1);
}
	

	 .productPage_selectButton img {
		min-width: 48px;
	 }
@media (max-width: 767px) {
	.productPage_select {
		justify-content: flex-start;
		width: 100vw;
		overflow-x: auto;
		scrollbar-width: none;
		padding: 0 15px;
	}
	.productPage_select::-webkit-scrollbar {
		display: none; /* Для WebKit браузеров */
	  }
}  
