.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 15px;
  padding-top: 150px;
  padding-bottom: 120px;
  min-height: calc(100vh - 293px) !important;
  text-align: center;
}
.wrap {
  width: 100%;

  max-width: 558px;
  font-size: 14px;
  font-weight: 500;
  padding: 16px 16px 24px 16px;
  border-radius: 20px;
  background: #fff;
  position: relative;
  color: var(--primary-color);
}
.img img {
  margin: auto;
}

.first {
  font-size: 28px;
  font-weight: 600;
}
.two {
  font-size: 24px;
}

.button {
  margin-top: 40px;
  border: none;
  outline: none;
  display: flex;
  padding: 15px 20px 15px 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 100%;

  border-radius: 50px;
  background: var(--primary-color);

  color: #fff;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;

  min-width: 162px;
  height: 54px;

  cursor: pointer;
}
.button:hover {
  background: #354b30;
}
.button:focus-visible {
  border: 4px solid #0d9ad6;
}
.button:active {
  background: #2d3e29;
  border: 2px solid transparent;
}
