.overl {
  position: fixed;
  width: 100%;
  height: 100vh;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}
.content {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  height: 82vh;
  background: #fff;
  z-index: 999;
  padding: 16px 24px;
  border-top-right-radius: 24px;
  border-top-left-radius: 24px;
  overflow-y: auto;
}

.flexLay {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.lay_ttl p {
  position: relative;
  color: #42623b;
  font-size: 24px;
  font-family: var(--font-merriweather);
}
.number_order {
  color: rgba(33, 33, 33, 1);
  font-weight: 500;
  font-size: 24px;
  margin-top: 10px;
}
.comment_ttl {
  color: var(--primary-color);
  font-weight: 500;
}
.comment_context {
  font-weight: 500;
  font-size: 20px;
  color: rgba(152, 151, 154, 1);
}
.lay_ttl .close {
  position: absolute;
  right: 0;
  top: 5px;
  cursor: pointer;
}
.number_pos {
  font-weight: 600;
  color: rgba(33, 33, 33, 1);
  margin: 20px 0;
}

.bdr {
  border: 1px solid rgba(212, 212, 212, 1);
  padding: 12px 16px;
  border-radius: 16px;
  margin-bottom: 20px;
}
.st_ttl {
  font-weight: 700;
  color: var(--primary-color);
}
.status {
  color: var(--primary-color);
  display: flex;
  margin: 8px 0;
}
.status1 {
  font-weight: 500;
  flex-grow: 1;
  padding-right: 5px;
  display: flex;
  align-items: center;
  gap: 0 8px;
}
.status2 {
  color: rgba(33, 33, 33, 1);
}
.info {
  font-weight: 500;
  line-height: 1.33;
  color: var(--primary-color);
}
.buttonBlock {
	display: flex;
	justify-content: flex-end;
}
.button {
	width: auto;
}
.red_info {
	color: var(--red);
}
.grey_info {
	font-weight: 500;
	color: rgba(152, 151, 154, 1);
}
.warning {
	font-weight: 500;
	color: rgba(33, 33, 33, 1);
	text-align: center;
}
.red_text {
	color: var(--red);
}
.red_check path  {
	stroke: var(--red);
}

@media (min-width: 769px) {
  .overl {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .content {
    position: relative;
    width: 440px;
    /* height: auto; */
    border-radius: 20px;
  }
}
