.productCheckout {
    display: flex;
    padding: 6px 0;
}
.productCheckout:last-child {
    border-bottom: none;
    padding-bottom: 5px;
}
.productCheckout .productCheckout_img {
    width: 32px;
    height: 32px;
}
.productCheckout .productCheckout_img img {
    width: 100%;
    max-width: 1000%;
    height: 100%;
    object-fit: cover;
}
.productCheckout .productCheckout_info {
    display: flex;
    flex-grow: 1;
	margin-left: 10px;
}
.productCheckout .productCheckout_ttl {
    font-size: 18px;
    font-weight: 500;
    color: rgba(33, 33, 33, 1);
}
.productCheckout .productCheckout_count {
	font-weight: 600;
	font-size: 18px;
    flex-grow: 1;
    text-align: right;
	color: var(--primary-color);
}
.productCheckout .productCheckout_count .grey {
    color: rgba(152, 151, 154, 1);
	font-weight: 600;
}
