.orderInfo {
    padding: 15px 15px 20px;
    background: #fff;
    border-radius: 20px;
	width: 100%;
	margin-bottom: 20px;
}

.orderInfo_ttl {
    font-weight: 600;
	font-size: 18px;
    color: var(--primary-color);
	text-transform: capitalize;	
	padding: 10px 0;
	border-bottom: 1px solid rgba(212, 212, 212, 1);
}
.orderInfo_ttl2 {
	font-weight: 500;
	color: #42623B;
}
.orderInfo_descr {
	font-size: 14px;
    color: rgba(33, 33, 33, 1);
}
.orderInfo_descr2 {
	color: var(--primary-color);
    flex-grow: 1;
    text-align: right;
	font-weight: 600;
}
.orderInfo_num {
	font-size: 24px;
    color: rgba(33, 33, 33, 1);
    font-weight: 500;
	line-height: 1.33;
}
.orderInfo_items {
    display: block;
}

.orderInfo_pay {
	display: flex;
    padding: 0 0 12px;
	color: var(--primary-color);
	font-weight: 500;
}
.orderInfo .buttonBlock {
    display: flex;
    align-items: center;
	margin-top: 15px;
}
.ttl2_2 {
	line-height: 1.33;
}

.orderInfo .orderInfo_mnu {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-left: 12px;
    min-width: 54px;
    height: 54px;
    border-radius: 50%;
    border: 1px solid #CACACA;
}
@media (min-width: 767px) {
	.orderInfo{
		max-width: 320px;
		margin-bottom: 0;
	}
}


