.container {
  display: flex;
  gap: 5px;

  color: #212121;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  border-radius: 999px;
  padding: 4px 12px;
  background-color: #9bd28f33;
}

.current {
  position: relative;
  font-weight: 600;
  font-size: 16px;
  color: #212121;
}

.currency {
  font-size: 21px;
}

.crossed::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background: var(--primary-color);
  top: 50%;
  left: 0;
}
