.overl {
	position: fixed;
	width: 100%;
	height: 100vh;
	left: 0;
	bottom: 0;
	background: rgba(0, 0, 0, .5);		
	z-index: 999;
}
.content {
	position: absolute;
	width: 100%;
	left: 0;
	bottom: 0;
	height: 82vh;
	background: #fff;
	z-index: 999;
	padding: 16px 24px;
	border-top-right-radius: 24px;
	border-top-left-radius: 24px;
	overflow-y: scroll;
}
.container, .lay_wrap {
    height: 100%;
}
.deleteAkk, .flexLay {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.lay_ttl p {
    position: relative;
    color: #42623B;
    font-weight: 400;
	font-family: var(--font-merriweather);
	font-size: 24px;
	padding-right: 25px;
}
.close {
	position: absolute;
	width: 28px;
	height: 28px;
	background: #fff;
	border: 4px solid transparent;
	right: 0;
	top: 0;
	cursor: pointer;
	border-radius: 50%;
  }
  .close:hover path  {
	  stroke: rgba(106, 104, 107, 1);
  }
  .close:active path  {
	  stroke: rgba(51, 51, 51, 1);
  }
  .close:focus-visible   {
	  border: 4px solid rgba(13, 154, 214, 1);
  }
  
.checkoutBlock_np {
    margin-top: 15px;
    padding-top: 15px;
    border-top: 1px solid #D4D4D4;
    display: flex;
	flex-wrap: wrap;
}
.lay_ttl2 {
	width: 100%;
	font-family: var(--font-merriweather);
	font-size: 24px;
	color: #42623B;
	margin-bottom: 12px;
}
.checkoutBlock_ttl {
    font-size: 20px;
    margin-left: 10px;
    font-weight: 500;
}
.lay_text {
    text-align: left;
    font-weight: 500;
    margin: 10px 0;
}
.buttonBlock {
    padding: 12px 0;
	text-align: center;
	flex-grow: 1;
}
.buttons {
	display: flex;
	gap: 0 10px;
}
.button {
	padding: 0;
}
.bbt {
    font-size: 16px;
	margin-bottom: 15px;

}

@media (min-width: 769px) {
	.overl {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.content {
		position: relative;
		width: 584px;
		height: 80vh;
		border-radius: 20px;
		overflow-y: auto;
	}
}
