.label {
	display: block;
	margin-top: 10px;
}
.label.error input {
	border: 2px solid #FF1111 !important;
}
.label p.error {
	color: #f11;
	font-size: 16px;
}
.label .label_ttl {
	margin-bottom: 5px;
	position: relative;
}
.label .label_ttl .oldPass {
	position: absolute;
	right: 0;
	top: 2px;
	font-size: 16px;
	color: #42623B; /* В SASS переменная $a не определена */
}
.label.radio {
	display: flex;
	padding-left: 30px;
	position: relative;
}
.label.radio .label_ttl {
	margin-bottom: 0;
}
.label.radio input {
	display: none;
}
.label.radio::before {
	content: '';
	position: absolute;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	border: 2px solid #D2D4DF;
	left: 0;
	top: calc(50% - 10px);
}
.label.radio.active::before {
	border: 6px solid #42623B; /* В SASS переменная $a не определена */
}
nput[type="text"].input, input[type="password"].input{
		height: 58px;
	border-radius: 20px;
	border: 2px solid transparent;
	font-size: 16px;
	display: block;
	width: 100%;
	text-indent: 16px;
	background: #D4D4D433;
	border: none;
}
