.sliderContainer {
	position: relative;
	margin-top: 160px;
	width: 100%;
	overflow: hidden; /* Скрыть всё, что выходит за пределы контейнера */
  }
  .sliderContainer.homeslider {
	margin-top: 120px;
  }
  .slider {
	display: flex;
	gap: 0 48px;
	min-width: 100%; /* Умножаем на количество слайдов */
	
	/* animation: moveSlider 10s linear infinite; */ /* Анимация движения */
  }
  
  .slide {
	flex: none;
	 /* Каждый слайд будет занимать 25% ширины контейнера */
	 /* Высота слайдов */
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	font-size: 24px;
  }
  .slide img {
	min-width: 240px;
  }
  .slide:hover {
	
  }
  @keyframes moveSlider {
	0% {
	  transform: translateX(0);
	}
	100% {
	  transform: translateX(-100%); /* Двигаем слайдер влево */
	}
  }
  
  @media (max-width: 580px) {
	.sliderContainer.homeslider {
		margin-top: 80px;
	  }
  }
